

$ff: 'Open Sans', sans-serif;

$fs-sm: 1.6rem;
$fs-m: 2.4rem;
$fs-l: 4.4rem;
$fs-xl: 5.2rem;
$fs-xxl: 7.4rem;
$fs-xxxl: 20rem;


$clr-bg: #f8f9fa;
$clr-prm: #3b5bdb;
$clr-acc: #364fc7;
$clr-sec: #f59f00;
$clr-eff: #e67700;
$clr-los: #e03131;
$clr-win: #40c057;